body {
  background: #ffd89b;
  background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
  background: linear-gradient(to right, #19547b, #ffd89b);
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
  margin-top: 15px;
}

.weatherinput {
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  background: #f0ffff;
  margin-top: 100px;
  margin-left: 500px;
}

.capitalise {
  text-transform: capitalize;
}

.weather-search form {
  margin-bottom: 20px;
  padding-left: 250px;
}

.form-control {
  padding: 4px;
  border-radius: 4px;
  width: 200px;
}

.submit {
  border-radius: 4px;
  padding: 3px;
  width: 60px;
  background-color: rgb(156, 226, 246);
}

ul,
li {
  list-style-type: none;
  text-align: right;
}

.temp-info {
  padding-top: 5px;
  text-align: left;
  padding-right: 20px;
}

.img {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}

.two {
  position: relative;
  top: 60px;
  margin-bottom: 135px;
}

.temperature {
  font-weight: bold;
  font-size: 60px;
  position: relative;
  top: -100px;
  right: -60px;
  margin-bottom: -50px;
  margin-left: 40px;
  margin-right: 10px;
}

.unit {
  position: relative;
  top: -125px;
  right: -50px;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: -10px;
}

a {
  text-decoration: none;
}

.weatherTemperature a:visited {
  color: blueviolet;
}
