.about-container {
  max-width: 1000px;
  background: #ecf6f6;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  border-radius: 5px;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-subtitle {
  font-weight: bold;
  padding-bottom: 20px;
}

img {
  display: block;
  margin: auto;
}

.team-icon {
  display: flex;
  justify-content: center;
  margin-right: 70px;
}

.team-icon li {
  padding: 5px;
}

.name,
.team-info {
  text-align: center;
}

.team-info {
  font-weight: bold;
}
