@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu-section {
  margin-top: 70px;
}

/* .contact-details {
  position: absolute;
  left: 0;
}

.address {
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
} */

.social-menu {
  border-bottom: 1px solid hsl(0, 0%);
  font-family: "Raleway", sans-serif;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-menu li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px;
}

.social-menu li a:hover {
  color: rgb(67, 197, 226);
}

.social-menu li a:before {
  font-family: "Fontawesome";
  -webkit-font-smoothing: antialiased;
  content: "\f08e";
}

/* link to the the generic site, add individual's profile link */

.social-menu li a[href*="facebook.com"]:before {
  content: "\f09a";
}

.social-menu li a[href*="instagram.com"]::before {
  content: "\f16d";
}

.social-menu li a[href*="twitter.com"]::before {
  content: "\f099";
}

.social-menu li a[href*="linkedin.com"]::before {
  content: "\f0e1";
}

.social-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* change this if we want it centered */
}
